body{
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f4;
}

h1{
    text-align: center;
}

p{
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    line-height: 1.8;
    border-radius: 8px;
    text-align: justify;
}

p::first-letter{
    font-size: 40px;
    font-weight: bold;
    color: darkblue;
}

p::first-line{
    color: crimson;
    font-weight: bold;
}

p::selection{
    background-color: gold;
    color: black;
}