*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 40px;
}

ul{
    width: 250px;
}

li{
    padding: 10px;
    margin: 5px 0;
    background-color: #f2f2f2;
    border-radius: 5px;
}

li:first-child{
    background-color: lightgreen;
    color: darkgreen;
    font-weight: bold;
}

li:last-child{
    background-color: lightcoral;
    color: white;
    font-weight: bold;
}