*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
   font-size: x-large;
}

.department{
  background-color:burlywood;
  color: blueviolet;
  height: 50px;
  width: 350px;
  margin-left: 200px;
  padding: 2em;
  
}
#departmentmech{
  background-color: cadetblue;
  height: 50px;
  width: 350px;
  margin-left: 200px;
  padding: 2em;
}