*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  padding: 20px;
}

a{
  text-decoration: none;
}

.twitter{
  background-color: #1DA1F2 ;
  color: white;
  border: none;
  height: 36px;
  width: 74px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
}

.twitter:hover{
  border: 1px solid black;
  background-color: #2385c3 ;
  opacity: 0.6;
}

.amazon{
  border: none;
  background-color:rgb(255,216,20);
  height: 36px;
  width: 160px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 15px;
  cursor: pointer;
}

.amazon:hover{
  opacity: 0.7;
  background-color: rgb(239, 215, 91);
}

.youtube{
  background-color: white ;
  color: black;
  border: 1px solid black;
  height: 36px;
  width: 90px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
   
}

.youtube:hover{
  opacity: 0.8;
  transform:scale(1.1);
  color: blue;
  transition: width 2s, height 4s, background-color 3s;
}

.black{
  background-color: black;
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  height: 38px;
  width: 100px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  transition:20px;
}

.black:hover{
  opacity: 0.6;
  transform: scale(1.1);
}

.purple{
  background-color: rgb(157, 19, 157);
  color: white;
  height: 38px;
  width: 98px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}

.purple:hover{
  opacity: 0.7;
  transform: scale(1.1);
}