*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;

}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.idcard{
    width: 320px;
    height: 420px;
    padding: 20px;
    margin: 40px auto;
    border: 2px solid #000;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(130, 119, 119);
}

.logo{
    width: 100px;
    height: 100px;
    padding-left: 50px;
    margin-bottom: 15px;
}

p{
    margin: 12px 0;
    font-size: 18px;
}